.project {
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Adjust alignment to start */
  align-items: center;
}

.project:hover {
  transform: translateY(-7px);
}

.project h3 {
  margin-bottom: 1.5em; /* Add space below the name */
}

.project__description {
  margin-top: 1em;
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
}

.project__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
}

.project .link--icon {
  margin-left: 0.5em;
}

.btn-cert {
  display: inline-block;
  padding: 0.8em 1.2em;
  font-size: 1rem;
  font-weight: 600;
  color: var(--clr-bg);
  background-color: var(--clr-primary);
  border: none;
  border-radius: 0.5em;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-cert--outline {
  background-color: transparent;
  border: 2px solid var(--clr-primary);
  color: var(--clr-primary);
  text-align: center;
  margin-top: 1em; /* Space above the button */
}

.btn-cert--outline:hover {
  background-color: var(--clr-primary);
  color: var(--clr-bg);
}

.btn__link {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  width: 100%; /* Ensure it centers text */
  text-align: center;
}
