
// Variables

$lato: 'Lato', Arial, sans-serif;
$playfair: 'Playfair Display SC', serif;

// Updated Color Palette
$primary: #6A89CC;  // Light blue
$secondary: #82CCDD;  // Aqua
$background: #F8EFBA;  // Pastel yellow
$text-color: #2C3A47;  // Deep gray for text
$link-color: #FA983A;  // Orange for links
$accent: #E55039;  // Coral for accents

// Add more variables if needed
